@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;800&family=Open+Sans:wght@300&display=swap');

body{
  font-family: Georgia;
  margin: 0;
  background-color: white;
}
/* Vertical Navigation Bar */
nav a{
  text-decoration: none;
  padding-right: 10px;
}
nav a:link{
color: black;
}
nav a:visited{
color: purple;
}
nav a:hover{
color: grey;
}
nav a:active{
color: blue;
}
a:link{
color: black;
}
a:visited{
color: purple;
}
a:hover{
color: grey;
}
a:active{
color: blue;
}
/*decorating nav*/
nav{
  background-color: #D1E2E7;
  border-top: 2px #D1E2E7 solid;
  border-bottom: 2px #D1E2E7 solid;
  padding: 5px;
  font-size: 20px;
  background-repeat: no-repeat;
  background-size: cover;
}
nav ul{
  list-style-type: none;
  text-align: center;
}
nav li{
  display: inline;
}
/* CSS for tablets */
@media only screen and (max-width: 1024px){
  h1{
    font-size: 2em;
  }
}
/* CSS for smartphone */
@media only screen and (max-width: 768px){
  h1{
    font-size: 1.5em;
  }
}
h1{
  font-family: Brush Script MT;
  text-align: center;
  font-size: 4em;
  color: black;
}
main{
  max-width: 1000px;
  margin: 20px auto;
}
/*decorating footer*/
footer{
  background-color: #D1E2E7;
  text-align: center;
  border-top: 1px solid gray;
  padding: 10px;
  background-repeat: no-repeat;
  background-size: cover;
}
#home-hero {
   background-image: url(images/background.jpg);
   height: 225px;
   background-size: cover;
   background-repeat: no-repeat;
 }
#home-hero h1{
  text-align: center;
  color: black;
  margin: 10px;
  padding-top: 70px;
}
canvas{
  margin: 0 auto;
  border-radius: 25px;
}
.logo{
  display: block;
  margin: auto;
}
.fa{
  font-size: 4em;
  color: black;
}
.padding{
  padding-top: 5em;
  padding-bottom: 5em;
}
.column{
  text-align: center;
}
.gallery .preview{
    width:100%
    height:auto;
}

.gallery .gallery-thumbnails img {
    width:100px;
    height:75px;
    margin: 3px 10px 10px 0;
}

.gallery .gallery-thumbnails img:hover {
    opacity: .8;
    cursor: pointer;
}

.gallery .preview img#preview {
    padding: 1px;
    max-width: 50%;
    height: auto;
    margin: 0 auto !important;
    display: block !important;
}
h2{
  text-align: center;
}
/* JavaScript Game changes for mobile */
.mobile{
  display:none;
}
@media only screen and (max-width: 768px){
  .desktop{
    display:none;
  }
  .mobile{
    display: block;
    touch-action: manipulation;
  }
}
.center{
  text-align: center;
}
.padding{
  padding-left: 20px;
  padding-right: 20px;
}