body{
  font-family: Serif;
  margin: 0;
}
/* Vertical Navigation Bar */
nav a{
  text-decoration: none;
  padding-right: 10px;
}
nav a:link{
color: darkcyan;
}
nav a:visited{
color: black;
}
nav a:hover{
color: grey;
}
nav a:active{
color: white;
}
a:link{
color: purple;
}
a:visited{
color: purple;
}
a:hover{
color: blue;
}
a:active{
color: black;
}
nav{
  background-color: lightgray;
  border-top: 2px green solid;
  border-bottom: 2px green solid;
  padding: 5px;
}
nav ul{
  list-style-type: none;
  text-align: center;
}
nav li{
  display: inline;
}
/* CSS for tablets */
@media only screen and (max-width: 1024px){
  h1{
    font-size: 2em;
  }
}
/* CSS for smartphone */
@media only screen and (max-width: 768px){
  h1{
    font-size: 1.5em;
  }
}
h1{
  text-align: center;
  font-size: 4em;
}
main{
  max-width: 1000px;
  margin: 20px auto;
}
footer{
  text-align: center;
  border-top: 1px solid gray;
  padding: 10px;
  background-color: lightgray;
}
.fa{
  font-size: 4em;
  color: black;
}
.home-hero{
  background-image:url(images/header.jpg);
  height: 475px;
  background-size: cover;
  background-position: center;
  color: #042837;
  padding: 10px 10px 10px 30px;
}
.home-image{
  background-image:url(images/paws.png);
  height: 200px;
  background-size: cover;
  background-position: center;
  padding-top: 50px;
}
blockquote{
  background-color: lightgray;
  padding: 30px;
}
img{
  display: block;
  margin: 0 auto;
}
h4{
  text-align: center;
}