@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;800&family=Open+Sans:wght@300&display=swap');

body{
  font-family: 'Cairo', sans-serif;
  margin: 0;
  background-color: lavender;
}
/* Vertical Navigation Bar */
nav a{
  text-decoration: none;
  padding-right: 10px;
}
nav a:link{
color: white;
}
nav a:visited{
color: white;
}
nav a:hover{
color: #FFFE05;
}
nav a:active{
color: #488017;
}
a:link{
color: black;
}
a:visited{
color:darkblue;
}
a:hover{
color: #FFfE05;
}
a:active{
color: #488017;
}
nav{
  background-color: #93278E;
  border-top: 2px #93278E;
  border-bottom: 2px #93278E;
  padding: 5px;
}
nav ul{
  list-style-type: none;
  text-align: center;
}
nav li{
  display: inline;
}
/* CSS for tablets */
@media only screen and (max-width: 1024px){
  h1{
    font-size: 2em;
  }
}
/* CSS for smartphone */
@media only screen and (max-width: 768px){
  h1{
    font-size: 1.5em;
  }
}
h1{
  color: #FF00FE;
  text-align: center;
  font-size: 4em;
}
h2{
  text-align: center;
}
main{
  max-width: 1000px;
  margin: 20px auto;
}
footer{
  text-align: center;
  border-top: 1px solid gray;
  padding: 10px;
}
.logo{
  max-width: 275px;
  height: auto;
  display: block;
  margin: 0 auto;
  padding: 20px;
}
#home-hero{
  background-image: url(images/guitars.jpg);
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
}
#home-hero h1{
  text-align: center;
  color: #FF00FE;
  text-shadow: 2px 2px 2px black;
  margin: 10px;
  background-color: rgba(0,0,0,.5);
}
table{
  border-collapse: collapse;
  margin: 0 auto;
}
td, th{
  border: 1px solid black;
  padding: 10px;
}
th{
  background-color: #93278E;
  color: white;
}
td{
  background-color: #FF00FE;
  color: white;
}
label{
  float: left;
  width: 8em;
  padding-right: 1em;
}
input,textarea{
  margin-bottom: 1em;
  display: block;
}
type=submit{
  display: block;
  background-color: lightgray;
}
.video-container {
    overflow: hidden;
    position: relative;
    width:100%;
}

.video-container::after {
    padding-top: 56.25%;
    display: block;
    content: '';
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.float-right{
  float: right;
  max-width: 40%;
  height: auto;
  margin-left: 30px;
}
form{
  padding: 1em;
  margin: 0 auto;
  background-color: #93278E;
  color: white;
  max-width: 450px;
}